*{
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.info
{
    width: 100%;
    background-color: #fcdb00;
    height: 741px;
    position: relative;


}
.info .header
 {
    /*border-style: solid;*/
    height:45px ;
    width: 80%;
    margin-top:59px ;
    margin-left: 236px;
    position: absolute;
}

.info  .header img
{
    width: 43px;
    float: left;

    display: inline-block;

}
p
{


    margin-left:10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 22pt;
    display: inline-block;

}
a
{
    text-decoration: none;
    color:black;

}
a:hover
{
    opacity: 0.5;
}
.info .content
{
    margin-left: 236px;
    margin-top: 236px;
    /*height:205px;*/
    width: 450px;
    /*border-style: solid;*/
    padding-left: 0;
    position: absolute;

}
.content p
{
    margin-left:0;
}
.content img
{
    float:left;
    margin-top:34px;

}
.end
{
    position: absolute;
    bottom:45px;
    left:669px;



}
.dot
{
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

}
.active, .dot:hover {
    background-color: #717171;
}
.div2
{
    border-style: solid;
    width: 100%;
    height:774px;
}
.feature
{
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    width:1000px;
    height:552px;
}
.feature .content
{



    width:100%;
    height: 130px;

}
.feature .content p
{

    letter-spacing: -0.8px;
    font-size: 32pt;



}

.feature .icon
{
    margin-top: 80px;
    border-style: solid;
    width:100%;
    height:340px;

}
.row1
{
    border-style: solid;
    width: 100%;
    height: 45%;
    margin-bottom: 35px;
}
.phone,.layer,.font
{
    border-style: solid;
    width: 33.333333333333%;
    height: 100%;
    float: left;

}
.phone img
{
    float: left;
    display: inline-block;
    border-style: solid;
    width:23%;
    height: 55%;

}
.layer img
{
    float: left;
    display: inline-block;
    border-style: solid;
    width:23%;
    height: 55%;
}
.font img
{
    float: left;
    display: inline-block;
    border-style: solid;
    width:23%;
    height: 55%;
}
.phone .content
{
    float: left;
    border-style: solid;
    width: 77%;
    height: 100%;
    padding-left: 0;
}
.layer .content
{
    float: left;
    border-style: solid;
    width: 77%;
    height: 100%;
    padding-left: 0;
}






.row2
{

    border-style: solid;
    width: 100%;
    height: 45%;
}
